@import '@assets/styles/variable.scss';

.call-me-wrap {
    display: flex;
    justify-content: center;
    align-items: baseline;
    .nav-link-icon {
        color: var(--semi-color-primary);
        margin: 0 5px;
    }

    &-site-qrcode {
        display: inline;
    }
}

@media screen and (max-width: $max-mobile-width) {
    .call-me-wrap {
        &-site-qrcode {
            display: none;
        }
    }
}
