@import '@assets/styles/variable.scss';

.moment-list {
    padding: 10px;
    &-item {
        margin: 10px;
        .semi-space {
            align-items: baseline;

            .name {
                font-size: 17px;
                font-weight: 600;
            }
        }

        &-content {
            position: relative;
            margin: 15px 0;
            padding: 5px;
            background-color: rgb(var(--semi-grey-0));
            border-radius: 4px;
            box-shadow: var(--semi-shadow-elevated);
            .md-editor-preview-wrapper {
                padding: 7px;
            }
        }
    }
}

@media screen and (max-width: $max-mobile-width) {
    .moment-list {
        padding: 20px 0 10px 10px;
        &-item {
            margin: 0px;
            &-content {
                margin: 5px 0;
            }
        }
        .semi-timeline {
            padding: 0;
        }
    }
}
