.moment-comment-list-wrap {
    .moment-comment-edit {
        //margin: 20px 0;
        padding: 30px 30px 0 30px;
        border-top: 3px dashed #b84297b0;
    }
    .moment-comment-list {
        padding: 10px 30px;
    }
}
