.moment-comment-list-wrap {
    .moment-comment-edit {
        margin: 20px 0;
        padding-bottom: 10px;
        border-bottom: 3px dashed #b84297b0;
    }
    .moment-comment-list {
        padding: 20px 30px;
    }
}
