.md-catalog-title {
    text-align: center;
}

.md-catalog-links {
    font-size: 15px;
    .md-editor-catalog-link {
        span {
            color: var(--semi-color-secondary);
            &:hover {
                color: var(--semi-color-secondary-hover);
            }
        }
    }
    .md-editor-catalog-active {
        span {
            font-weight: bold;
            color: var(--semi-color-secondary-active);
        }
    }
}
