.tag-list-wrap {
    // padding: 0 10px;
    // background-color: rgba(var(--semi-grey-1), 0.2);
    font-size: 14px;
    // margin-top: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
