@import '@assets/styles/variable.scss';

.blog-page-container {
    margin: auto;
    min-height: calc(100vh - var(--footer-height));
}

@media screen and (max-width: $pad-portrait-width) {
    .blog-page-container {
        width: auto;
    }
}
