@import '@styles/base.scss';

.blog-page-container {
    margin: auto;
    min-height: calc(100vh - $footerHeight);
}

@media screen and (max-width: 600px) {
    .blog-page-container {
        width: auto;
        margin-right: 10px;
        margin-left: 10px;
    }
}
