@import '@/styles/base.scss';

.main {
  display: flex;
  //align-items: center;
  //justify-content: center;
  min-height: calc(100vh - #{$footerHeight + $headerHeight});
  width: $centerWidth;
  margin: auto;
}
