@import '@assets/styles/variable.scss';

.article-list-container {
    padding: 0;
    .article-item-card {
        &-header {
        }
        &-desc {
            margin-top: 20px;
        }
        &-tags {
            margin-top: 10px;
            display: flex;
            justify-content: center;
        }
        &-footer {
            margin: 10px 15px 0 15px;
            display: flex;
            justify-content: space-between;

            &-like {
                display: flex;
                align-items: center;
            }
            .like-item {
                margin-right: 15px;
                display: flex;
                align-items: center;

                span {
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: $max-mobile-width) {
    .article-list-container {
        padding: 10px;
    }
}
