.blog-layout {
    position: relative;

    &-content {
        background-color: var(--semi-color-bg-0);
        // background-color: antiquewhite;
        // position: relative;
        > :last-child {
            // background-color: var(--semi-color-bg-0);
            height: auto;
        }
    }
}
