.blog-layout {
    position: relative;
    // background-color: antiquewhite;

    &-content {
        background-color: var(--semi-color-bg-0);
        // position: relative;
        > :last-child {
            height: 100%;
        }
    }
}
