html,
body,
#root,
#root > * {
    // 处理modal弹出时界面闪烁问题,加了之后弹窗显示后底层仍然可以滚动
    // overflow: unset !important;
    // width: 100% !important;
    // height: 100vh;
    margin: 0;

    --semi-color-primary: rgba(var(--semi-violet-4), 1) !important;
    --semi-color-primary-hover: rgba(var(--semi-violet-3), 1) !important;
    --semi-color-primary-light-default: rgba(var(--semi-violet-0), 1) !important;
    .flex-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    --image-brightness: brightness(1); // div背景图明亮度
    img {
        filter: var(--image-brightness);
    }

    --blog-header-bg: var(--semi-white);

    .md-editor {
        --md-bk-color: var(--semi-grey-0) !important;
    }
}

body[theme-mode='dark'] #root > * {
    --image-brightness: brightness(0.8);

    --blog-header-bg: 22, 22, 26;
}

a {
    text-decoration: none; /* 去除默认的下划线 */
    outline: none; /* 去除旧版浏览器的点击后的外虚线框 */
    color: #000; /* 去除默认的颜色和点击后变化的颜色 */
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background: var(--semi-color-bg-0);

    .spinner {
        width: 64px;
        height: 64px;
        border: 8px solid;
        border-color: var(--semi-color-primary) transparent var(--semi-color-primary) transparent;
        border-radius: 50%;
        animation: spin-anim 1.2s linear infinite;
    }
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
