.moment-comment-edit-wrap {
    display: flex;
    //  width: 100%;
    color: var(--semi-color-text-0);
    &-user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 10px 0px 0px;
    }
    &-content {
        overflow: auto;
        width: 100%;
        margin-right: 15px;
    }
}
