@import '@assets/styles/variable.scss';

.comment-edit {
    overflow: auto;
    width: 100%;
    color: var(--semi-color-text-0);

    &-func {
        display: flex;
        &-rg {
        }

        &-user {
            display: flex;
            align-items: center;
            margin-left: 20px;
            cursor: pointer;

            &-avatar {
                flex-shrink: 0;
                margin-right: 10px;
            }

            &-name {
                width: 100%;
            }
            .is-reply {
                width: 100%;
            }
        }

        .semi-radio-addon-buttonRadio {
            font-size: 14px;
            padding: 6px 24px;
            line-height: 20px;
        }
    }

    &-input {
        margin-top: 5px;
        height: 173px;

        .input-user-info {
            width: 30%;

            .avatar-origin-rg {
                width: 100%;
                flex-wrap: nowrap;
            }
        }
    }
}

@media screen and (max-width: $max-mobile-width) {
    .comment-edit {
        &-func {
            &-rg {
            }

            &-user {
                margin-left: 5px;
                &-avatar {
                    margin-right: 5px;
                }

                &-name {
                    width: 110px;
                }
                .is-reply {
                    width: 60px;
                }
            }

            .semi-radio-addon-buttonRadio {
                font-size: 12px;
                padding: 4px 8px;
                line-height: 16px;
            }
        }

        &-input {
            .input-user-info {
                width: 100%;
            }
        }
    }
}
