@import '@assets/styles/variable.scss';

$blog-header-bg-color-hover: rgba(var(--blog-header-bg), 1);
$blog-header-bg-color: rgba(var(--blog-header-bg), 0.4);

.blog-header {
    position: fixed;
    width: 100%;
    height: $navigation-height;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 99;
    transition: 0.6s ease-in-out;

    &-wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $navigation-height;
        padding: 0 20px;
        backdrop-filter: blur(3px);
        background: $blog-header-bg-color;
        transition: 0.8s 0.3s;
        &:hover {
            background: $blog-header-bg-color-hover;
        }

        .header-logo {
        }

        .header-nav {
            display: flex;
            align-items: center;
            &-list {
                a {
                    position: relative;
                    display: inline-block;
                    width: 80px;
                    line-height: $navigation-height;
                    text-align: center;
                    font-size: 14px;

                    color: var(--semi-color-text-0) !important;
                    text-decoration: none;
                    transition: 0.2s;
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 15px;
                        left: 18%;
                        height: 2px;
                        width: 0;
                        background: var(--semi-color-primary);
                        transition: 0.4s;
                    }
                    &:hover {
                        &:after {
                            width: 30%;
                        }
                    }
                }

                .active {
                    font-weight: bold;
                    color: var(--semi-color-secondary);
                    &:after {
                        width: 64%;
                    }
                    &:hover {
                        &:after {
                            width: 64%;
                        }
                    }
                }
            }

            &-dropdown {
                display: none;
            }
        }

        .nav-tools {
            .header-tool {
                margin-left: 15px;
            }
        }
    }

    &.stick {
        padding-top: 0;
        background: $blog-header-bg-color-hover;
        box-shadow:
            0 0 2px rgba(0, 0, 0, 0.063),
            0 0 10px rgba(0, 0, 0, 0.125);
    }
}

@media screen and (max-width: $max-mobile-width) {
    .blog-header {
        padding-top: 0;
        &-wrap {
            margin: 0 -10px; // 主要是解决container增加了margin-left\right 10px
            &:hover {
                background: $blog-header-bg-color;
            }

            .header-nav {
                &-list {
                    display: none;
                }
                &-dropdown {
                    display: block;
                }
            }

            .nav-tools {
                .header-tool {
                    margin-left: 5px;
                }
            }
        }
    }

    .nav-dropdown-menu-wrap {
        .semi-dropdown-item {
            position: relative;
            color: var(--semi-color-text-0);
            font-weight: 600;
            padding: 14px 40px;

            &:after {
                content: '';
                position: absolute;
                bottom: 9px;
                left: 18%;
                width: 0;
                height: 2px;
                background: var(--semi-color-primary);
                transition: 0.4s;
            }
        }
        .semi-dropdown-item-active {
            color: var(--semi-color-primary);
            font-weight: 800;
            &:after {
                width: 64%;
            }
        }
    }
}
