$navigation-height: 56px;

.header-navigation {
    position: fixed;
    width: 100%;
    height: $navigation-height;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 99;
    transition: 0.6s ease-in-out;
    &-inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $navigation-height;
        margin: 0 -10px;
        background: var(--semi-color-bg-0);
    }
    &-logo {
        padding: 0 18px;
    }

    &-list {
        padding-right: 15px;
        a {
            position: relative;
            display: inline-block;
            width: 80px;
            line-height: $navigation-height;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            color: var(--semi-color-text-0);
            text-decoration: none;
            transition: 0.2s;
            &:after {
                content: '';
                position: absolute;
                bottom: 15px;
                left: 18%;
                width: 0;
                height: 1px;
                background: var(--semi-color-primary);
                transition: 0.4s;
            }
            &:hover {
                &:after {
                    width: 30%;
                }
            }
        }

        .active {
            color: var(--semi-color-primary-hover);
        }

        .active:after {
            width: 64%;
        }
    }
    &.stick {
        padding-top: 0;
        background: var(--semi-color-bg-0);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.063), 0 0 10px rgba(0, 0, 0, 0.125);
    }
}
