@import '@assets/styles/variable.scss';

.blog-header {
    position: fixed;
    width: 100%;
    height: $navigation-height;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 99;
    transition: 0.6s ease-in-out;
    &-wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $navigation-height;
        margin: 0 -10px;
        background: var(--semi-color-bg-0);

        .blog-header-logo {
            margin-left: 20px;
        }

        .blog-header-nav {
            display: flex;
            align-items: center;
            .nav-list-wrap {
                a {
                    position: relative;
                    display: inline-block;
                    width: 80px;
                    line-height: $navigation-height;
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    color: var(--semi-color-text-0);
                    text-decoration: none;
                    transition: 0.2s;
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 15px;
                        left: 18%;
                        height: 1px;
                        background: var(--semi-color-primary);
                        transition: 0.4s;
                    }
                    &:hover {
                        &:after {
                            width: 30%;
                        }
                    }
                }

                .active {
                    color: var(--semi-color-primary-hover);
                }

                .active:after {
                    width: 64%;
                }
            }

            .nav-dropdown-wrap {
                display: none;
            }
        }

        .blog-header-theme {
            margin: 0 15px;
        }
    }

    &.stick {
        padding-top: 0;
        background: var(--semi-color-bg-0);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.063), 0 0 10px rgba(0, 0, 0, 0.125);
    }
}

@media screen and (max-width: $max-mobile-width) {
    .blog-header {
        padding-top: 0;
        &-wrap {
            .blog-header-nav {
                .nav-list-wrap {
                    display: none;
                }
                .nav-dropdown-wrap {
                    display: block;
                }
            }
        }
    }

    .nav-dropdown-menu-wrap {
        .semi-dropdown-item {
            position: relative;
            color: var(--semi-color-text-0);
            font-weight: 600;
            padding: 14px 40px;

            &:after {
                content: '';
                position: absolute;
                bottom: 9px;
                left: 18%;
                width: 0;
                height: 2px;
                background: var(--semi-color-primary);
                transition: 0.4s;
            }
        }
        .semi-dropdown-item-active {
            color: var(--semi-color-primary);
            font-weight: 800;
            &:after {
                width: 64%;
            }
        }
    }
}
