.article-header {
    position: relative;
    background: no-repeat center;
    background-size: cover;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        backdrop-filter: blur(5px);
        background-image: linear-gradient(0deg, var(--semi-color-bg-0), rgba(0, 0, 0, 0.1) 700px),
            linear-gradient(0deg, var(--semi-color-bg-0), transparent 500px);
    }

    &-main {
        &-content {
            position: relative;
            min-height: 200px;
            padding: 140px 0 360px;

            &-title {
                color: rgba(var(--semi-white), 1);
                padding-bottom: 1rem;
            }
            &-desc {
                color: rgba(var(--semi-white), 1);
            }
        }
    }
}
.article-section {
    position: relative;
    z-index: 1;

    &-conyainer {
        margin-top: -360px;
        margin-bottom: -85px;
    }

    &-main {
        min-height: 500px;
        padding: 20px;
        border-radius: 20px;
        background-color: rgb(var(--semi-grey-0));
        display: flex;

        &-content {
            width: 400px;
            flex-shrink: 1;
            flex-grow: 1;
            padding: 2em 3em 0em 0em;
        }

        &-nav {
            width: 280px;
            border-radius: 5px;
        }
    }

    &-footer {
        padding-top: 20px;
    }
}

.article-comment {
    position: relative;
    background: rgb(var(--semi-violet-0));
    padding-top: 150px;
    padding-bottom: 50px;

    &:before {
        content: '';
        position: absolute;
        top: -240px;
        border-right: calc(100vw - var(--scrollbar)) solid transparent;
        border-bottom: 240px solid rgb(var(--semi-violet-0));
    }

    &-main {
        padding: 15px;
        border-radius: 20px;
        background-color: var(--semi-color-bg-0);
    }
}
