@import '@styles/base.scss';

.article-detail-header {
    position: relative;
    margin-bottom: -130px;
    padding: 130px 60px;
    &-content {
        position: relative;
        &-title {
            padding-bottom: 1rem;
        }
        &-desc {
        }
    }
    &-banner {
        position: absolute;
        border-bottom-left-radius: 12px; /* 左下角 */
        border-bottom-right-radius: 12px; /* 右下角 */
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
    }
}
.article-detail-content {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(var(--semi-grey-0));
}
