@import '@/styles/base.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  .topPost {
    width: 50%;
    height: 90%;
    display: flex;
    align-items: center;
    .list {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      .topForward {
        width: auto;
        flex-grow: 3;
        margin: 10px;
        padding: 15px;
        background: $secondaryColor;
        border-radius: 20px;
      }
      .topBack {
        width: auto;
        flex-grow: 2;
        margin: 10px;
        padding: 10px;
        background: $secondaryColor;
        border-radius: 20px;
      }
    }
  }
  .show {
    width: 50%;
    .image {
      height: 100%;
      width: 100%;
      .img {
        border-radius: 20px;
      }
      .mask {
        border-radius: 20px;
      }
    }
  }
}
