@import '@assets/styles/variable.scss';

.blog-home {
    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: 100%;
        margin-left: 10%;
    }

    &-bottom {
        position: absolute;
        right: 5%;
        left: 5%;
        bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        &-pic-link {
            position: relative;
            padding: 3px 9px;
            display: flex;
            align-items: center;
            margin-top: 0;

            &:after {
                content: '';
                background: var(--semi-color-tertiary-light-active);
                opacity: 0.7;
                border-radius: 5px;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
            }
        }

        &-summary {
        }
    }
}

@media screen and (max-width: $max-mobile-width) {
    .blog-home {
        &-content {
            padding-top: $navigation-height + 10;
            justify-content: start;
        }
        &-bottom {
            padding: 0 20px;
            right: 0;
            left: 0;
            bottom: 15%;
            flex-direction: column-reverse;

            &-pic-link {
                margin-top: 10px;
            }

            &-summary {
                width: 100%;
            }
        }
    }
}
