@import '@assets/styles/variable.scss';

.blog-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--semi-color-primary);
    border-radius: 9px;
    .logo {
        padding: 8px;
        img {
            height: 34px;
        }
    }
}

@media screen and (max-width: $max-mobile-width) {
    .blog-logo {
        .logo {
            // padding: 10px;
            img {
                height: 28px;
            }
        }
    }
}
