.gitmoji-container-gitmoji {
    margin: 8px;
    height: 180px;
    width: 100%;
    max-width: 150px;
    vertical-align: middle;

    &-header {
        line-height: 80px;
        font-size: 50px;
        text-align: center;
    }

    &-code {
        display: flex;
        justify-content: center;
        margin: 5px 0;
    }

    &-description {
        text-align: center;
    }
}
