@import '@styles/base.scss';

.moment-comment-item {
    display: flex;
    color: var(--semi-color-text-0);
    &-box {
        width: 100%;
        &-info {
            .semi-space {
                align-items: baseline;
                .name {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
        &-content {
            position: relative;
            margin-top: 5px;
            padding: 5px 10px;
            background-color: rgb(var(--semi-grey-0));
            border-radius: 4px;
            box-shadow: 0 4px 8px rgb(var(--semi-grey-1));
        }

        &-childs {
            padding: 10px 5px;
            // background-color: rgba(var(--semi-grey-0), 0.5);
            &-box {
                margin-top: 15px;
            }
        }
    }
}
