@import '@assets/styles/variable.scss';

.home-summary {
    position: relative;
    padding: 8px 0;
    display: flex;
    justify-content: center;

    &-item {
        margin: 0 40px;
    }
    &:after {
        content: '';
        background: var(--semi-color-tertiary-light-active);
        opacity: 0.7;
        border-radius: 12px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

@media screen and (max-width: $max-mobile-width) {
    .home-summary {
        &-item {
            margin: 0 15px;
        }
    }
}
