.home-summary {
    position: relative;
    padding: 8px;

    &-item {
        margin-left: 30px;
    }
    &:after {
        content: '';
        background: var(--semi-color-tertiary-light-active);
        opacity: 0.7;
        border-radius: 12px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}
