@import '@assets/styles/variable.scss';

.global-search-modal {
    .semi-modal {
        margin: 0 auto;
    }
}

.global-search-modal-content {
    margin: 20px;
    .search-records {
        margin: 17px 0;

        &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 7px;
        }

        &-list {
        }
    }
    .search-result {
        overflow-y: auto;
        height: 400px;

        &-item {
            margin-bottom: 15px;

            &-highlight {
                border-radius: 6px;
                margin: 0 4px;
                padding: 0 4px;
                background-color: rgba(var(--semi-teal-5), 1);
                color: rgba(var(--semi-white), 1);
            }
        }

        &-load-more {
            text-align: center;
            margin-top: 12;
        }
    }
}

@media screen and (max-width: $max-mobile-width) {
    .global-search-modal {
        .semi-modal {
            margin: 0 10px;
        }
    }
    .global-search-modal-content {
        .search-result {
            height: 300px;
        }
    }
}
