@import '@assets/styles/variable.scss';

.article-copyright {
    font-size: 14px;
    color: var(--semi-color-text-3);
    .category-wrap {
        display: flex;
        align-items: center;
    }

    .tag-list-wrap {
        display: flex;
        align-items: center;
    }

    .copyright-wrap {
        display: flex;
        margin: 10px 0;

        &-title {
            font-weight: bold;
        }

        &-link {
            word-break: 'break-word';
        }
    }

    .like-wrap {
        display: flex;
        justify-content: start;

        button {
            margin-right: 15px;
        }

        .site-qrcode {
            display: inline;
        }
    }
}
@media screen and (max-width: $max-mobile-width) {
    .article-copyright {
        .copyright-wrap {
            // display: block;
        }

        .like-wrap {
            justify-content: center;
            .site-qrcode {
                display: none;
            }
        }
    }
}
