@import '@assets/styles/variable.scss';

.copyright-wrap {
    display: flex;
    // padding: 20px 10px;
    //background-color: rgba(var(--semi-grey-1), 0.2);
    border-radius: 10px;
    font-size: 14px;
    color: var(--semi-color-text-3);

    &-title {
        font-weight: bold;
    }

    &-link {
        //width: 100px;
        word-break: 'break-word';
    }
}

@media screen and (max-width: $max-mobile-width) {
    .copyright-wrap {
        display: block;
    }
}
